/* Prevent this div from blocking right-click menu for video
e.g. Firefox playback speed options */
.plyr__poster {
    display: none;
}

/* plyr fix */
.plyr:-moz-full-screen video {
    max-height: initial;
}

.plyr:-webkit-full-screen video {
    max-height: initial;
}

.plyr:-ms-fullscreen video {
    max-height: initial;
}

.plyr:fullscreen video {
    max-height: initial;
}

.plyr__preview-thumb__image-container {
    width: 158px;
    height: 90px;
}

.plyr__preview-thumb {
    bottom: 100%;
}

.plyr__menu__container [role="menu"],
.plyr__menu__container [role="menucaptions"] {
    /* Set vertical scroll */
    /* issue https://github.com/sampotts/plyr/issues/1420 */
    max-height: 320px;
    overflow-y: auto;
}

/*
* Custom styles similar to youtube
*/
.plyr__controls {
    display: flex;
    justify-content: center;
}

.plyr__progress__container {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: -10px;
}

.plyr__controls .plyr__controls__item:first-child {
    margin-left: 0;
    margin-right: 0;
    z-index: 5;
}

.plyr__controls .plyr__controls__item.plyr__volume {
    margin-left: auto;
}

.plyr__controls .plyr__controls__item.plyr__progress__container {
    padding-left: 10px;
    padding-right: 10px;
}

.plyr__progress input[type="range"] {
    margin-bottom: 50px;
}

/*
* End custom styles
*/
