{% set page_title = title %}
{% extends "base.html" %}
{% block style %}
    <link href="/youtube.com/static/license.css" rel="stylesheet">
{% endblock style %}
{% block main %}
    <table id="jslicense-labels1" class="table">
        <caption>JavaScript Licensing Table</caption>
        <thead>
            <tr>
                <th>File</th>
                <th>License</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="File"><a href="/youtube.com/static/js/av-merge.js">av-merge.js</a></td>
                <td data-label="License"><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0 or later</a></td>
                <td data-label="Source"><a href="/youtube.com/static/js/av-merge.js">av-merge.js</a></td>
            </tr>
            <tr>
                <td data-label="File"><a href="/youtube.com/static/js/comments.js">comments.js</a></td>
                <td data-label="License"><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0 or later</a></td>
                <td data-label="Source"><a href="/youtube.com/static/js/comments.js">comments.js</a></td>
            </tr>
            <tr>
                <td data-label="File"><a href="/youtube.com/static/js/common.js">common.js</a></td>
                <td data-label="License"><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0 or later</a></td>
                <td data-label="Source"><a href="/youtube.com/static/js/common.js">common.js</a></td>
            </tr>
            <tr>
                <td data-label="File"><a href="/youtube.com/static/js/hotkeys.js">hotkeys.js</a></td>
                <td data-label="License"><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0 or later</a></td>
                <td data-label="Source"><a href="/youtube.com/static/js/hotkeys.js">hotkeys.js</a></td>
            </tr>
            <tr>
                <td data-label="File"><a href="/youtube.com/static/js/playlistadd.js">playlistadd.js</a></td>
                <td data-label="License"><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0 or later</a></td>
                <td data-label="Source"><a href="/youtube.com/static/js/playlistadd.js">playlistadd.js</a></td>
            </tr>
            <tr>
                <td data-label="File"><a href="/youtube.com/static/js/plyr-start.js">plyr-start.js</a></td>
                <td data-label="License"><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0 or later</a></td>
                <td data-label="Source"><a href="/youtube.com/static/js/plyr-start.js">plyr-start.js</a></td>
            </tr>
            <tr>
                <td data-label="File"><a href="/youtube.com/static/modules/plyr/plyr.min.js">plyr.min.js</a></td>
                <td data-label="License"><a href="https://spdx.org/licenses/MIT.html">Expat</a></td>
                <td data-label="Source"><a href="/youtube.com/static/modules/plyr/plyr.js">plyr.js</a></td>
            </tr>
            <tr>
                <td data-label="File"><a href="/youtube.com/static/js/transcript-table.js">transcript-table.js</a></td>
                <td data-label="License"><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0 or later</a></td>
                <td data-label="Source"><a href="/youtube.com/static/js/transcript-table.js">transcript-table.js</a></td>
            </tr>
            <tr>
                <td data-label="File"><a href="/youtube.com/static/js/watch.js">watch.js</a></td>
                <td data-label="License"><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0 or later</a></td>
                <td data-label="Source"><a href="/youtube.com/static/js/watch.js">watch.js</a></td>
            </tr>
        </tbody>
    </table>
{% endblock main %}
