#message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: outset;
    padding: 20px;
    background-color: var(--background);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
}
